body {
    border: 1px dotted gray;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 1%;
    padding: 1%;
}

div {
    margin-top: 1em;
}

.top-header {
    border-bottom: 1px solid black;
    font-size: 1.5em;
    text-align: center;
}

.section-header {
    border-bottom: 1px dotted gray;
    font-size: 1.3em;
    margin: 1em 0 1em 0;
}

.section-subheader {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
}

.section-body {
    font-size: 1em;
    margin: 0.5em;
}

.sample-text {
    border: 1px dotted gray;
    color: blue;
    font-size: 1.25em;
    margin: 1em;
    padding: 0.5em;
}

.table_sample_text,
.table_text_input {
    border: 1px solid black;
    margin: 1em;
    text-align: center;
}

.table_sample_text th {
    border: 1px dotted gray;
    color: black;
    padding: 0.25em;
}

.table_text_input th {
    border: 1px dotted gray;
    color: black;
    font-size: 1.5em;
    padding: 0.25em;
}

.table_sample_text td,
.table_text_input td {
    border: 1px dotted gray;
    color: blue;
    padding: 0.25em;
    min-width: 5em;
}

.bidi-text {
    direction:rtl;   
}

.bold-text {
    font-weight: bold;
}

.sample-text {
    border: 1px dotted gray;
    color: blue;
    font-size: 1.5em;
    margin: 1%;
    padding: 1%;
    width: 90%;
}

.sample-image-125px {
    border: 1px dotted gray;
    margin: 1%;
    width: 125px;
}

.sample-image-150px {
    border: 1px dotted gray;
    margin: 1%;
    width: 150px;
}


li {
 padding: 3px;
}

.table_large_ltr_sample {
    border: 1px dotted gray;
    direction: ltr;
    width: 75%;    
}

.table_large_rtl_sample {
    border: 1px dotted gray;
    direction: rtl;
    width: 50%;    
}

.table_large_rtl_sample th,
.table_large_ltr_sample th {
    border: 1px dotted gray; 
    font-size: 1em;
}

.table_large_rtl_sample td {
    border: 1px dotted gray; 
    font-size: 3em;
    padding: 10px; 
    text-align: right;
}

.table_large_ltr_sample td {
    text-align: right;
    border: 1px dotted gray; 
    font-size: 2em;
    padding: 10px; 
    text-align: left;
}
.red_cursor {
    color: red;
    font-size: 1.1em;
    margin-left: -5px;
}

.vietnamese_text {
    font-family: "Arial", sans-serif;
}

.text-align-left {
    text-align: left !important;
}

.text-align-right {
    text-align: right !important;
}